body {
    font-family: 'Dosis', sans-serif;
    background-color: rebeccapurple;
    color: white;
}
#container {
    width: 50%;
    height: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.button-controls {
    width: 200px;
    height: 200px;
    background-color: indianred;
    border-radius: 10px solid transparent;
    color: white;
    text-decoration-color: white;
    border: transparent;
    margin-top: 30px;
    border-radius: 50%;
    font-size: 30px;
}
button:hover {
    background-color: seagreen;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100;
    height: auto;
}
#computer {
    float: left;
    text-align: center;
    padding-top: 30px;
    width: 25%;
    height: 100px;
    font-size: 35px;
    padding-bottom: 15px;
    color: snow;
}
#you {
    float: right;
    text-align: center;
    padding-top: 30px;
    width: 25%;
    height: 100px;
    font-size: 35px;
    padding-bottom: 15px;
}
#current {
    text-align: center;
    padding-top: 30px;
    width: 50%;
    height: 50px;
    color: white;
    font-size: 35px;
    padding-bottom: 15px;
   
}
#score {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
table {
    border: 1px  black;
    text-align: center;
    column-width: 100px;
}
.content {
  padding-bottom: 5px;
  color: antiquewhite;
  text-transform: uppercase;
}
.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}